<option value="300">
    Adornos de cerámica, estatuillas</option>
<option value="301">
    Adornos para fiestas de Navidad</option>
<option value="302">
    Agujas de coser, punto, imperdibles</option>
<option value="303">
    Aparatos fotografia - Filtro para cámaras fotogr</option>
<option value="304">
    Aparatos fotografia - Flashes</option>
<option value="305">
    Aparatos fotografia - Lente para cámara</option>
<option value="306">
    Aparatos de optica - Binoculares</option>
<option value="307">
    Aparatos de optica - Gafas (de ver)</option>
<option value="308">
    Aparatos de optica- Gafas de sol</option>
<option value="309">
    Aparatos de optica - Monturas gafas</option>
<option value="310">
    Aparatos de optica- cristales, lentes gafas</option>
<option value="311" selected="selected">
    Aparatos de optica- Lentes de contacto</option>
<option value="312">
    Aparatos laboratorio - microscopio</option>
<option value="313">
    Aparatos medicoquirúrjicos- Audífono</option>
<option value="314">
    Aparatos medicoquirurjicos- Marcapasos</option>
<option value="315">
    Aparatos relojería - adornos, piedras</option>
<option value="316">
    Aparatos relojería - Despertador</option>
<option value="317">
    Aparatos relojeria - Pulsera para reloj</option>
<option value="318">
    Aparatos relojeria - Reloj de pulsera, bolsillo</option>
<option value="319">
    Aparatos relojería Reloj Muelles,tornillos</option>
<option value="320">
    Aperitivos salados</option>
<option value="321">
    Armas decorativas Sables, espadas, bayoneta</option>
<option value="322">
    Articulos de Bisutería</option>
<option value="323">
    Artículos de ceramica, porcelana</option>
<option value="324">
    Artículos de cuero - bolso, mochila</option>
<option value="325">
    Artículos de cuero - Cinturones, guantes</option>
<option value="326">
    Artículos de metal - Cucharas, tenedores, cucharo</option>
<option value="327">
    Artículos de metal - cuchillas, abrecartas, raspa</option>
<option value="328">
    Artículos de metal - Cuchillos, navajas</option>
<option value="329">
    Artículos de orfebrería</option>
<option value="330">
    Artículos de pesca - anzuelos, carretes</option>
<option value="331">
    Artículos de piel Billetera, monedero, pitillera</option>
<option value="332">
    Azúcar de caña o remolacha</option>
<option value="333">
    Bebida - Vermú</option>
<option value="334">
    Bebida alcohólicas - Ginebra</option>
<option value="335">
    Bebidas - Agua</option>
<option value="336">
    Bebidas - Cerveza</option>
<option value="337">
    Bebidas - Sidra</option>
<option value="338">
    Vinagre</option>
<option value="339">
    Bebidas - Vino</option>
<option value="340">
    Bebidas - Vino espumoso</option>
<option value="341">
    Bebidas - Zumos de frutas alcohóicas</option>
<option value="342">
    Bebidas alcohólicas - Vodka</option>
<option value="343">
    Bebidas alcohólicas - licores</option>
<option value="344">
    Bebidas alcohólicas - Whisky</option>
<option value="345">
    Bebidas -Gin y Ginebra</option>
<option value="346">
    Bebidas -Mosto</option>
<option value="347">
    Bebidas -Ron y aguardiente de caña</option>
<option value="348">
    Bebidas sin alcohol</option>
<option value="349">
    Betunes, creamas para zapatos o cuero</option>
<option value="350">
    Bolígrafos</option>
<option value="351">
    Bolsos de mano de piel</option>
<option value="352">
    Botones</option>
<option value="353">
    Brochas de afeitar</option>
<option value="354">
    Bulbos, cebollas de flores</option>
<option value="355">
    Cacao en polvo</option>
<option value="356">
    Café</option>
<option value="357">
    Café descafeinado</option>
<option value="358">
    Cajas, bolsas de papel</option>
<option value="359">
    Calculadoras</option>
<option value="360">
    Calendarios</option>
<option value="361">
    Calzado de deporte</option>
<option value="362">
    Candados, cerrojos, llaves</option>
<option value="363">
    Caña de pescar</option>
<option value="364">
    Cepillo para el pelo</option>
<option value="365">
    Cepillos de dientes</option>
<option value="366">
    Cereales - Arroz</option>
<option value="367">
    Cereales - Copos de maiz y similiares</option>
<option value="368">
    Cereales Avena</option>
<option value="369">
    Cereales Maiz</option>
<option value="370">
    Cereales Trigo</option>
<option value="371">
    Chicles</option>
<option value="372">
    Chocolate, cacao</option>
<option value="373">
    Cierres, hebillas, ganchos, ojales de metal común</option>
<option value="374">
    Comida - Conservas - Aceitunas</option>
<option value="375">
    Comida - Conservas de pescado</option>
<option value="376">
    Comida- Caviar y sus sucedáneos</option>
<option value="377">
    Comida- Chorizo</option>
<option value="378">
    Comida- Conservas de carne</option>
<option value="379">
    Comida- Conservas de marisco y moluscos</option>
<option value="380">
    Comida- Hígado de oca, pato, Foie grass</option>
<option value="381">
    Comida- Jamón</option>
<option value="382">
    Comida- Lomo</option>
<option value="383">
    Comida- paletilla jamón</option>
<option value="384">
    Comida- pata de Jamón</option>
<option value="385">
    Comida- Salchichas</option>
<option value="386">
    Comida- Salchichón</option>
<option value="387">
    Compresas, tampones higiénicos</option>
<option value="388">
    Conservas - esparrágos</option>
<option value="389">
    Conservas de legumbres</option>
<option value="390">
    Conservas de Setas, hongos, trufas</option>
<option value="391">
    Conservas de tomate</option>
<option value="392">
    Conservas de verduras</option>
<option value="393">
    Cosméticos - champú, Gel</option>
<option value="394">
    Cosméticos - dentífricos</option>
<option value="395">
    Cosméticos - espuma afeitar</option>
<option value="396">
    Cosméticos - lacas para el cabello</option>
<option value="397">
    Cosméticos - maquillajes, bronceadores</option>
<option value="398">
    Cosméticos - pintalabios</option>
<option value="399">
    Cosméticos - sombras de ojos, polvos compactos</option>
<option value="400">
    Cosméticos- Desodorantes corporales</option>
<option value="401">
    Cremalleras</option>
<option value="402">
    Cuadernos</option>
<option value="403">
    Cuadernos para dibujar o colorear, para niños</option>
<option value="404">
    Deportes - Balones de fútbol, balonmano, balonces</option>
<option value="405">
    Deportes - Pelotas de Golf</option>
<option value="406">
    Deportes - Pelotas de tenis</option>
<option value="407">
    Deportes -Patines</option>
<option value="408">
    Diccionarios y enciclopedias, fascículos</option>
<option value="409">
    Dispositivos electricos - Auriculares</option>
<option value="410">
    Dispositivos electricos - Depiladora electrica</option>
<option value="411">
    Dispositivos electricos - Linterna</option>
<option value="412">
    Dispositivos electricos - Maquina cortar pelo</option>
<option value="413">
    Dispositivos electricos - Maquinilla afeitar</option>
<option value="414">
    Dispositivos electricos - Radiocasete de bolsillo</option>
<option value="415">
    Dispositivos electricos - Reproductor de CD</option>
<option value="416">
    Dispositivos electricos - Reproductor de DVD</option>
<option value="417">
    Dispositivos electricos - Tarjetas circuito electr</option>
<option value="418">
    Dispositivos electricos - Teléfono móvil</option>
<option value="419">
    Dispositivos electricos - Videocámara portatil</option>
<option value="420">
    Dispositivos electricos - Walkman</option>
<option value="421">
    Dispositivos electricos -Reproductor de MP3</option>
<option value="422">
    Dispositivos electricos- Secador de pelo</option>
<option value="423">
    Edredones, cojines, almohadas</option>
<option value="424">
    Encendedores de bolsillo, de gas, no recargables</option>
<option value="425">
    Especias Azafrán</option>
<option value="426">
    Especias Cúrcuma</option>
<option value="427">
    Especias Curri</option>
<option value="428">
    Especias Jengibre</option>
<option value="429">
    Especias Vainilla</option>
<option value="430">
    Estampas, grabados y fotografías</option>
<option value="431">
    Fechadores, selladores</option>
<option value="432">
    Flores artificiales, plumas, pelucas, barbas, mech</option>
<option value="433">
    Flores, capullos, adornos decorativos</option>
<option value="434">
    Fruta deshidratada</option>
<option value="435">
    Frutos secos almendras</option>
<option value="436">
    Frutos secos anacardo</option>
<option value="437">
    Frutos secos avellanas</option>
<option value="438">
    Frutos secos Dátiles</option>
<option value="439">
    Frutos secos Higos</option>
<option value="440">
    Frutos secos Nueces</option>
<option value="441">
    Frutos secos Pistachos</option>
<option value="442">
    Frutos secos Uvas secas - pasas</option>
<option value="443">
    Galletas, pastas, pasteles</option>
<option value="444">
    Gasas, vendas</option>
<option value="445">
    Gofres y obleas</option>
<option value="446">
    Goma de Borrar</option>
<option value="447">
    Grapas, clips</option>
<option value="448">
    Guirnaldas electricas de Navidad</option>
<option value="449">
    Harina</option>
<option value="450">
    Herramientas - Destornilladores</option>
<option value="451">
    Herramientas - Cepillos y herramientas para madera</option>
<option value="452">
    Herramientas - limas, alicates, pinzas, cizallas</option>
<option value="453">
    Herramientas- Martillos</option>
<option value="454">
    Herramientas Llaves de ajuste manuales, llave ingl</option>
<option value="455">
    Huevos</option>
<option value="456">
    Impresos publicitarios, catálogos comerciales y s</option>
<option value="457">
    Instrumento musical - Guitarra</option>
<option value="458">
    Instrumento musical - Armónica</option>
<option value="459">
    Instrumento musical - Cajas de Música</option>
<option value="460">
    Instrumento musical - Clarinetes</option>
<option value="461">
    Instrumento musical - piezas de instrumentos</option>
<option value="462">
    Instrumento musical -Violin</option>
<option value="463">
    Jabón en pastillas</option>
<option value="464">
    Joyas - Artículos para joyería</option>
<option value="465">
    Joyas - Diamantes</option>
<option value="466">
    Joyas - Oro</option>
<option value="467">
    Joyas - Plata</option>
<option value="468">
    Joyas -Perlas</option>
<option value="469">
    Juegos - pin pon</option>
<option value="470">
    Juegos - Videojuegos</option>
<option value="471">
    Juguetes Cartas de mesa, Naipes</option>
<option value="472">
    Juguetes Muñecas</option>
<option value="473">
    Juguetes Rompecabezas</option>
<option value="474">
    Juguetes ropa y accesorios muñecos</option>
<option value="475">
    Juguetes Videojuego</option>
<option value="476">
    JuguetesTrenes, coches eléctricos</option>
<option value="477">
    Lámpara eléctrica de mesa, oficina</option>
<option value="478">
    Lámparas o aparatos eléctricos de alumbrado</option>
<option value="479">
    Lápices portaminas</option>
<option value="480">
    Leche</option>
<option value="481">
    Leche concentrada, condensada</option>
<option value="482">
    Leche en polvo</option>
<option value="483">
    levadura en polvo para esponjar masas</option>
<option value="484">
    Libros registro, libros de contabilidad, talonario</option>
<option value="485">
    Libros, folletos, e impresos similares</option>
<option value="486">
    Manteles y servilletas de papel</option>
<option value="487">
    Mantequilla</option>
<option value="488">
    Marcos de madera</option>
<option value="489">
    Material cestería - mimbre, rafia</option>
<option value="490">
    Medicamento - Antisueros</option>
<option value="491">
    Medicamento - Cortisona</option>
<option value="492">
    Medicamento - Insulina</option>
<option value="493">
    Medicamento - Penicilinas</option>
<option value="494">
    Medicamento - Vitaminas</option>
<option value="495">
    Medicamento -Vacunas para animales</option>
<option value="496">
    Medicamento -Vacunas para uso humano</option>
<option value="497">
    Medicamentos</option>
<option value="498">
    Medicamentos - Antibióticos</option>
<option value="499">
    Mermeladas, Confituras, jaleas</option>
<option value="500">
    Miel Natural</option>
<option value="501">
    Monedas.</option>
<option value="502">
    Muesli y similares</option>
<option value="503">
    Objetos arte, colección - pinturas, dibujos a man</option>
<option value="504">
    Objetos arte, colección - sellos, estampillas</option>
<option value="505">
    Objetos arte, collección - Escultura de arte</option>
<option value="506">
    Objetos arte, collección - Grabados, estampas, li</option>
<option value="507">
    Objetos arte, collección- Piezas de colección</option>
<option value="508">
    Pan y similares</option>
<option value="509">
    Pañales de bebés</option>
<option value="510">
    Pañuelos, toallitas de desmaquillar y toallas</option>
<option value="511">
    Papel higiénico</option>
<option value="512">
    Paraguas, sombrillas, quitasoles, fustas y latigos</option>
<option value="513">
    Partes o accesorios de bicicletas o motos</option>
<option value="514">
    Partes vehículos - Amortiguador vehiculos</option>
<option value="515">
    Partes vehículos - Freno de coche</option>
<option value="516">
    Partes vehículos - Volante coche</option>
<option value="517">
    Partes vehículos -Cinturones de seguridad de coch</option>
<option value="518">
    Pasta alimenticia, esapagueti, macarrones</option>
<option value="519">
    Pegamentos, colas o adhesivos</option>
<option value="520">
    Peines, peinetas</option>
<option value="521">
    Películas fotográficas</option>
<option value="522">
    Perchas de madera</option>
<option value="523">
    Perfume, colonia</option>
<option value="524">
    Piedras preciosas o semi - Cuarzo</option>
<option value="525">
    Piedras preciosas o semi - Rubíes, zafiros y esme</option>
<option value="526">
    Piedras preciosas o semipreciosas</option>
<option value="527">
    Pinceles y brochas</option>
<option value="528">
    Pintura artística</option>
<option value="529">
    Pipas y cachimbas</option>
<option value="530">
    Plantas, bulbos</option>
<option value="531">
    Plástico - artículos de adorno</option>
<option value="532">
    Plástico - Vajilla, servicio de mesa o de cocina</option>
<option value="533">
    Plástico -Artículos de oficina y artículos esco</option>
<option value="534">
    Portatiles hasta 10 kg</option>
<option value="535">
    Pralinés</option>
<option value="536">
    Preparados alimenticios para animales</option>
<option value="537">
    Preparados alimenticios para bebés - cereales</option>
<option value="538">
    Preservativos</option>
<option value="539">
    Productos farmaceuticos- Apósitos</option>
<option value="540">
    Productos farmaceuticos- Botiquines primeros auxil</option>
<option value="541">
    Queso curado</option>
<option value="542">
    Queso fresco, de untar</option>
<option value="543">
    Raíces o tuberculos de Trufas frescas o refrigera</option>
<option value="544">
    Ropa - Calzoncillos</option>
<option value="545">
    Ropa - Camisas de punto hombre</option>
<option value="546">
    Ropa - Camisas de punto mujer</option>
<option value="547">
    Ropa Abrigos, chaquetones, capas, cazadoras</option>
<option value="548">
    Ropa Albornoces de baño</option>
<option value="549">
    Ropa Batas de casa</option>
<option value="550">
    Ropa blanca de baño y de cocina</option>
<option value="551">
    Ropa Bragas, saltos de cama</option>
<option value="552">
    Ropa Camisetas</option>
<option value="553">
    Ropa Camisones, pijamas</option>
<option value="554">
    Ropa chales, pañuelos de cuello, bufandas, mantil</option>
<option value="555">
    Ropa Combinaciones, enaguas</option>
<option value="556">
    Ropa Corbatas o pajaritas</option>
<option value="557">
    Ropa de cama, tejida o de ganchillo</option>
<option value="558">
    Ropa deportiva (chandal, mono, ropa de esquí, ba</option>
<option value="559">
    Ropa Guantes, mitones y manoplas</option>
<option value="560">
    Ropa impermeables</option>
<option value="561">
    Ropa Jerseys</option>
<option value="562">
    Ropa leotardos, medias, calcetines</option>
<option value="563">
    Ropa Mantelería, tejida o de ganchillo</option>
<option value="564">
    Ropa para bebés</option>
<option value="565">
    Ropa Sujetadores, fajas, corsés, tirantes, liguer</option>
<option value="566">
    Ropa Trajes , conjuntos, chaquetas hombres</option>
<option value="567">
    Ropa Trajes sastre, vestidos, faldas mujer</option>
<option value="568">
    Sales perfumadas y demás preparaciones para el ba</option>
<option value="569">
    Aceite de oliva</option>
<option value="570">
    Semillas de hortalizas</option>
<option value="571">
    Sobres de papel</option>
<option value="572">
    Sombreros, tocados, redecillas para el pelo</option>
<option value="573">
    Sopas y salsas preparadas</option>
<option value="574">
    Suplementos alimenticios (multivitaminas/minerales</option>
<option value="575">
    Tabaco cigarrillos</option>
<option value="576">
    Tabaco puros</option>
<option value="577">
    Tapones de corcho</option>
<option value="578">
    Té negro</option>
<option value="579">
    Té Verde</option>
<option value="580">
    Textiles - algodón</option>
<option value="581">
    Textiles - lana</option>
<option value="582">
    Textiles - nailon</option>
<option value="583">
    Textiles - poliésteres</option>
<option value="584">
    Textiles - seda</option>
<option value="585">
    Tornillos, pernos, tuercas</option>
<option value="586">
    Velas, cirios</option>
<option value="587">
    Verduras deshidratadas</option>
<option value="588">
    Vidrio vasos, copas jarras</option>
<option value="999">
    Textil y calzado</option>