.we-charge-rules-table {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	background: #fff;
	width: 100%;
	max-width:1000px;
	margin-left: -10px;
	margin-bottom: 2em;
}

.we-charge-rules-table label {
	font-weight: bold;
	display: block;
}

.we-charge-rules-table td {
	padding: 8px;
}

.we-charge-rules-checkbox,
.we-charge-rules-checkbox {
	border-right: 1px solid white;
	width: 21px;
}

.we-charge-rules-table > tbody td:nth-child(2) {
	padding: 0;
}

.we-charge-rules-table > thead {
	font-weight: bold;
}

.we-charge-rules-table > tbody > tr:nth-child(odd) {
	background-color: #f9f9f9;
}

.we-charge-rules-table > thead td {
	border-bottom: 1px solid #e5e5e5;
}

.we-charge-rules-table > tfoot td {
	border-top: 1px solid #e5e5e5;
}

.we-charge-rules-table > tfoot .button {
	margin-right: 8px;
}

.we-charge-rules-table-row td {
	padding: 4px 8px;
}

.we-charge-rules-table-row tbody {
	display: none;
}

.we-charge-rules-table input[type=text] {
	max-width: 105px;
}

.we-charge-rules-import-export-csv {
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	background: #fff;
	display: inline-block;
	margin-left: -10px;
	padding: 8px 12px;
}

.we-charge-rules-import-export-csv p {
	margin-bottom: 8px !important;
}
